@page
@model Magic_Spellbook.Pages.Cards.CardDetailsModel
@{
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Vorinclex, Monsterous Raider</h3>
            <h6 class="card-subtitle">
                Legendary Creature — Phyrexian Praetor
            </h6>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="https://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=503815&type=card" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Card Text</h4>
                    <p>
                        Trample, haste
                        If you would put one or more counters on a permanent or player, put twice that many of each of those kinds of counters on that permanent or player instead.
                        If an opponent would put one or more counters on a permanent or player, they put half that many of each of those kinds of counters on that permanent or player instead, rounded down.
                    </p>
                    <select class="select w-25" multiple>
                        <option value="Alpha">Test Deck 1</option>
                        <option value="Beta">Test Deck 2</option>
                        <option value="Kamigawa Neon Dynasty">Test Deck 3</option>
                    </select>
                    <button class="btn btn-primary btn-rounded">Add to Decklist</button>
                    <button class="btn btn-primary btn-rounded">Add to Collection</button>
                    <h3 class="box-title mt-5">Other Info</h3>
                    <ul class="list-unstyled">
                        <li>P/T: 6/6</li>
                        <li>Set: Kaldheim</li>
                        <li>Rarity: Mythic Rare</li>
                        <li>Card Number: 199</li>
                        <li>Artist: Daarken</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>