@page
@model Magic_Spellbook.Pages.User.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <h2>You have successfully signed out of Magic Spellbook</h2>

        <a class="btn btn-lg btn-primary" asp-area="" asp-page="/User/Login">Login</a>
    </div>
</div>