@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Magic Spellbook</h1>
    <p><a class="" asp-area="" asp-page="/User/Login">Sign in</a> to view decklists and maintain your collection</p>
    <p>No Account? <a class="" asp-area="" asp-page="/User/Register">Register here</a></p>
</div>
